[Desktop Entry]
Type=Application
Version=1.5
Name=System eKploiter
GenericName=File and Software Manager
Comment=Manage your files and installed software in one place
Exec=ekploiter %u
Icon=ekploiter
Terminal=false
StartupWMClass=ekploiter
Categories=System;FileManager;Qt;KDE;
Keywords=files;software;apps;packages;drives;manager;explorer;
MimeType=inode/directory;
