[Desktop Entry]
Type=Application
Version=1.5
Name=System eKplorer
GenericName=File and Software Manager
Comment=Manage your files and installed software in one place
Exec=ekplorer %u
Icon=ekplorer
Terminal=false
StartupWMClass=ekplorer
Categories=System;FileManager;Qt;KDE;
Keywords=files;software;apps;packages;drives;manager;explorer;
MimeType=inode/directory;
